<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="http://JohnElder.org" target="main">JohnElder.org</a> <a class="navbar-brand" href="#">&gt;&nbsp;  News Channels</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      
      
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">NBC <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="http://news3lv.com" target="main">Las Vegas</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="http://www.nbclosangeles.com/" target="main">Los Angeles</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="http://www.nbcchicago.com/" target="main">Chicago</a></li>
          </ul>
        </li>
        
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">ABC <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="http://www.ktnv.com/livestream" target="main">Las Vegas</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="http://abc7.com/" target="main">Los Angeles</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="http://abc7chicago.com/" target="main">Chicago</a></li>
          </ul>
        </li>
        
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">CBS <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="http://www.lasvegasnow.com/" target="main">Las Vegas</a></li>
            <!--<li><a href="http://lasvegas.cbslocal.com/" target="main">Las Vegas</a></li>-->
            <li role="separator" class="divider"></li>
            <li><a href="losangeles.cbslocal.com/show/live-video/" target="main">Los Angeles</a></li>
            <!--<li><a href="http://losangeles.cbslocal.com/" target="main">Los Angeles</a></li>-->
            <li role="separator" class="divider"></li>
            <li><a href="http://chicago.cbslocal.com/" target="main">Chicago</a></li>
          </ul>
        </li>
        
                <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Fox <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="http://www.fox5vegas.com/" target="main">Las Vegas</a></li>
            <li role="separator" class="divider" ></li>
            <li><a href="http://www.foxla.com/" target="main">Los Angeles</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="http://www.fox32chicago.com/" target="main">Chicago</a></li>
          </ul>
        </li>
        
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Webcams <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="http://www.earthcam.com/usa/california/venicebeach/?cam=venice" target="new">Venice Beach</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="http://www.earthcam.com/usa/illinois/chicago/field/" target="new">Chicago Field Museum</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="https://wustl.edu/brookings-hall-roof-webcam/" target="new">Washu</a></li>
          </ul>
        </li>
        <li>
          <a href="http://pbs.org" target="main">PBS</a>
          </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>